<form action="/addMusicToPlaylist" method="post">
    <select id="playlists" name="playlists">
        {{#each playlists}}
        <option value="{{this.title}}">{{this.title}}</option>
        {{else}}
        <p>Няма създаден плейлист</p>
        {{/each}}
    </select>

    <input type="text" value="{{specificMusic.title}}" name="title">
    <input type="text" value="{{specificMusic.singer}}" name="singer">
    <input type="text" value="{{specificMusic.ganre}}" name="ganre">
    <input type="text" value="{{specificMusic.URL}}" name="URL">
    <input type="submit" value="Submit">
</form>